.title-spaced {
  font-family: var(--font-title);
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  text-shadow:
    0 0 5px #0ff,
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #f0f,
    0 0 80px #f0f;

  animation: neonPulse 1.8s infinite alternate ease-in-out,
             floatText 4s ease-in-out infinite;
}

@keyframes neonPulse {
  from {
    text-shadow:
      0 0 5px #0ff,
      0 0 10px #0ff,
      0 0 20px #0ff,
      0 0 40px #f0f,
      0 0 80px #f0f;
  }
  to {
    text-shadow:
      0 0 10px #0ff,
      0 0 20px #0ff,
      0 0 30px #0ff,
      0 0 60px #f0f,
      0 0 100px #f0f;
  }
}

@keyframes floatText {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
}

  .title-container{
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgb(240, 237, 75), 0 2px 8px rgb(253, 249, 253);
    
  }