.title-spaced {
  font-family: var(--font-title);
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
 }
[data-theme='light'] .title-spaced {
  color: #0ff;
  text-shadow:
    0 0 4px #333333,
    0 2px 8px #555555,
    4px 8px 12px #030303;
}
 .title-container {
  border: 1px solid var(--color-title-glow2);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  box-shadow:
    0 1px 6px var(--color-title-glow2),
    0 1px 6px var(--color-title-glow1);
  transition: var(--transition);
}
