.product-card {
  background: linear-gradient(135deg, #1c1c1c, #2b2b2b);
  border-radius: 12px;
  padding: 1rem;
  color: var(--color-text);
  box-shadow: 1px  4px 6px 6px rgba(0, 212, 255, 0.2);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
  }

  h3 {
    font-size: 1.1rem;
    margin: 0.5rem 0 0;
  }

  p {
    font-size: 0.9rem;
    color: #aaa;
    flex-grow: 1;
  }
// Dans votre fichier ProductCard.scss

.color-swatches {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 10px 0;
}

.swatch {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #eee;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }

  // Style pour la pastille sélectionnée
  &.selected {
    border-color: #333;
    outline: 2px solid #fff;
    box-shadow: 0 0 0 2px #333;
  }
}
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;

    .price {
      font-weight: bold;
      font-size: 1rem;
      color: white;
    }

    .buy-btn {
      background: linear-gradient(to right, #00d4ff, #7f00ff);
      padding: 0.4rem 0.8rem;
      border-radius: 20px;
      color: white;
      text-decoration: none;
      font-size: 0.9rem;
      transition: 0.2s ease;

      &:hover {
        opacity: 0.9;
        transform: scale(1.05);
      }
    }
     .add-to-cart-btn {
      background: linear-gradient(to right, #00d4ff, #7f00ff);
      border: none;
      color: white;
      padding: 0.4rem 0.8rem;
      font-size: 1rem;
      border-radius: 25px;
      cursor: pointer;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.05);
        background: linear-gradient(to right, #ff5a57, #e02f75);
        color: whitesmoke;
        border: 1px solid whitesmoke;
      }
    }
  .share-btn {
  position: relative;
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #00d4ff;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.2);
    color: #ff5a57;
  }

  &::after {
    content: 'Partager';
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 4px 8px;
    font-size: 0.75rem;
    white-space: nowrap;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover::after {
    opacity: 1;
  }
}


  }
  .share-menu {
  display: flex;
  gap: 0.4rem;
  background: rgba(247, 243, 243, 0.7);
  padding: 0.4rem 0.6rem;
  border-radius: 8px;
  margin-top: 0.6rem;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
  z-index: 5;

  a {
    color: #fff;
    font-size: 1.1rem;

    &:hover {
      color: #00e6f6;
      transform: scale(1.2);
    }
  }
}

}
